<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= title %></title>
</head>
<body>
<h1><%= title %></h1>

<% if (user) { %>
    <%= user.name %>
    <a href="/logout">Logout</a>
<% } else { %>
    <a href="/login">Login</a>
    <a href="/register">Registrace</a>
<% } %>

<hr />
<a href="?done=true">Hotové</a>
<a href="?done=false">Nehotové</a>
<a href="?">Všechny</a>

<div id="todosTable">
    <%- include('_todos.ejs') %>
</div>

<form action="/add" method="post">
    <input type="text" name="text"/>
    <button type="submit">Přidat ToDo!</button>
</form>

<script>
  const ws = new WebSocket('ws://localhost:3000');

  ws.addEventListener('message', (message) => {
    const messageData = JSON.parse(message.data)

    if (messageData.type === 'allTodos') {
      document.getElementById('todosTable').innerHTML = messageData.html;
    }
  });
</script>
</body>
</html>
